<!doctype html>
<html>
<head>
    <title>{{title}} | A Simple Blog</title>
</head>
<body>
    <article>
        <h1><a href="/{{slug}}.html">{{title}}</a></h1>
        <small><time>{{date}}</time></small>
        {{{content}}}
    </article>
    <section>
        {{#if prev}}
        <span>
            Previous:
            <a href="/{{prev.slug}}.html">
                {{prev.title}}
                <small><time>({{prev.date}})</time></small>
            </a>
        </span>
        {{/if}}

        {{#if next}}
        <span>
            Next:
            <a href="/{{next.slug}}.html">
                {{next.title}}
                <small><time>({{next.date}})</time></small>
            </a>
        </span>
        {{/if}}
    </section>
</body>
</html>
